#sidebar
  h1
    a#logo(href='/' title='Home')
      span.hidden Home
      img.ui.image.medium(src='/assets/logo.png')
    .ui.secondary.stackable.vertical.menu
      a.item(href='/projects.html') Projects
      a.item(href='/about.html') About
      a.item(href='/press.html') Press
      a.item(href='/donate.html')
        strong Donate
