#sidebar
  h1
    a#logo(href='/' title='Home')
      span.hidden Home
      img.ui.image.fluid(src='/assets/logo.png')
    .ui.secondary.stackable.vertical.menu
      a.item(href='/projects.html') Projects
      a.item(href='/about.html') About
      a.item(href='/press.html') Press
      a.item(href='https://www.redbubble.com/people/openstudios/shop?asc=u', target='_new', title='Launch our RedBubble store') Store&nbsp;&nbsp;&nbsp;
        span
          i.icon.external.alternate
      a.item(href='/donate.html')
        strong Donate
      .item
        .ui.one.column.grid
          .row.center.aligned
            .column
              p 
              p 
              p Connect with us
          .row.center.aligned
            .column
              a(href='https://www.facebook.com/openstudiosco', title='Facebook')
                i.icon.facebook.large.black
              .ui.vertical.divider
              a(href='https://www.linkedin.com/company/38109426/', title='LinkedIn')
                i.icon.linkedin.large.black
              .ui.vertical.divider
              a(href='https://twitter.com/OpenStudios1', title='Twitter')
                i.icon.twitter.large.black
