.hidden
  display: none

#logo
  display: block
  margin: 4rem

#sidebar
  padding 0 1rem

  .menu
    width: auto

  a.item
    font-size: 1.2rem;
    text-align: center

#container
  margin-top: 50px;

  h2
    margin-bottom: 50px