extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | About | Open Studios

block append page
  h2 About
  h3 What is Open Studios?
  .ui.very.relaxed.bulleted.list
    .item A private company based in Australia that produces open source digital media, software and games
    .item A document driven organisation that uses Git repositories for process.
    .item A digital publisher that promotes open source and strives to use Free and Open Source Software for all aspects of business
    .item Revenue generated through non license related sources such as funding grants, merchandise, subcontracting to extend Open Studios software and paid technical support
  h3 Why open source?
  .ui.very.relaxed.bulleted.list
    .item Developers are writing variations of the same solution over and over again across different industries and applications. 
    .item Closed source approaches to software and games development prevent the team from receiving benefits that open source receives including knowledge sharing with peers and can limit the team to working with an unpopular and buggy tech stack that affects their work.
    .item A game is a cross disciplinary product that pushes the boundaries of technology, but that also makes it challenging to develop. Working with open source means the developers aren’t restricted from looking for help from the global community, and there is much help.
    .item The configurability of open source means that there will be no limitations to future improvements and maintenance of Open Studios software.
  h3 Our innovation goals
  .ui.very.relaxed.bulleted.list
    .item Our software aims to reduce the number of people needed to produce games by partially automating common tasks and roles normally done by multiple people.
    .item Manifold’s goal is to allow any artist to create professional 3D content for any application
    .item Kettlefish’s goal is to allow any developer to create readable, fast code that is maintainable
    .item Kamigen’s goal is to push the boundaries of cloud gaming, providing a hardware scaled seamless experience across devices. Play on a phone on the train and on PC at home.
    .item Open Studios gets control over tech costs by implementing vertical integration from day one
  h3 Our tech stack
  .ui.very.relaxed.bulleted.list
    .item User Interfaces built using web technologies - HTML, CSS, SVG and Javascript
    .item Native applications using Node.JS and cross compilation for PC, Mac, iOS and Android
    .item Advanced computer graphics display using OpenGL 2.0 ES (WebGL)
    .item Automated configurable test suites ensure functionality never breaks down the line
    .item Only use Open Source dependencies giving everyone full control and transparency
