extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Donate | Open Studios

block append page
  h2 Donate
  .ui.three.column.grid.stackable
    .row
      .column
        p
          | Hello there! I'm 
          a(href='https://paulbrzeski.com') Paul Brzeski
          | , I started this studio as a means to fully realise and produce my game and software projects.
        p.
          Open Studios has three strategic projects that will optimise the development of websites, applications, services and games.
          The projects are interdependent - the Kamigen game relies on Manifold for design software and Kettlefish as a software framework.
        p
          Kettlefish needs the game and design software to evolve its features. Manifold is built to the design needs of Kamigen.
          Imagine you lived in a world of toys before someone invented Lego. Open Studios wants to make web Lego and give it to the world.
      .column
        h3 How do we make money?
        p.
          At the moment the company is purely donation based while we apply for grants.
          Our future revenue will come from non license related sources such as funding grants, merchandise,
          subcontracting to extend Open Studios software and paid technical support.
          Open Studios needs your support  in order to fund development and achieve a high standard of quality.
      .column
    .row
      .column
        h3 Support Open Studios
        p While donations are critically needed, there are other ways we could use your help!
        .ui.bulleted.list
          .item Like the Kamigen page on Facebook
          .item Review and suggest improvements to the code on Github
            .list
              a.item(href='https://github.com/paulbrzeski/kamigen') Kamigen
              a.item(href='https://github.com/paulbrzeski/kettlefish') Kettlefish
              a.item(href='https://github.com/paulbrzeski/manifold') Manifold
      .column
        form(action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top')
          input(type='hidden' name='cmd' value='_donations')
          input(type='hidden' name='business' value='HEW9NSHSZ8N58')
          input(type='hidden' name='currency_code' value='AUD')
          input(type='image' src='https://www.paypalobjects.com/en_AU/i/btn/btn_donateCC_LG.gif' border='0' name='submit' title='PayPal - The safer, easier way to pay online!' alt='Donate with PayPal button')
          img(alt='' border='0' src='https://www.paypal.com/en_AU/i/scr/pixel.gif' width='1' height='1')
      .column