extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Press | Open Studios

block append page
  h2 Press and media
  .ui.stackable.grid
    .row
      .column
        h3
          a(href='/press/planning-code-continuity.html') Planning for Code Continuity Across a Company
        p
          em 16th of March 2020