extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Projects | Open Studios

block append page
  h2 Projects
  .ui.very.relaxed.grid
    .row
      .column.three.wide
        img.ui.image.fluid(src='/assets/project-logos/kamigen.png')
      .column.six.wide
        h3 Kamigen
        p.
          An independent game studio that
          uses open source and web technology
          to deliver cutting edge experiences
          for gamers and developers.
      .column.seven.wide
        img.ui.image.fluid(src='/assets/project-screenshots/kamigen.png')
    .row
      .column.three.wide
        img.ui.image.fluid(src='/assets/project-logos/kettlefish.png')
      .column.six.wide
        h3 Kettlefish
        p.
          An independent game studio that
          uses open source and web technology
          to deliver cutting edge experiences
          for gamers and developers.
      .column.seven.wide
        img.ui.image.fluid(src='/assets/project-screenshots/kettlefish.png')
    .row
      .column.three.wide
        img.ui.image.fluid(src='/assets/project-logos/manifold.png')
      .column.six.wide
        h3 Manifold
        p.
          An independent game studio that
          uses open source and web technology
          to deliver cutting edge experiences
          for gamers and developers.
      .column.seven.wide
        img.ui.image.fluid(src='/assets/project-screenshots/manifold.png')
