extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Projects | Open Studios

block append page
  h2 Projects
  p.
    An independent game studio that
    uses open source and web technology
    to deliver cutting edge experiences
    for gamers and developers.
