extends /src/templates/layout.pug

block append scripts
  script(src='./dist/app.js')

block append title
  | Projects | Open Studios

block append styles
  link(href='./dist/projects.css', rel='stylesheet')

block append page
  h2 Projects
  .ui.very.relaxed.stackable.grid
    .row#kamigen
      .column.three.wide
        img.ui.image.fluid.logo(src='/assets/project-logos/kamigen.png')
      .column.six.wide
        h3 Kamigen
        p Our flagship game and media project, aimed to advance understanding and capabilities with games and other high performance software.
        p.
          Kamigen is a tropical cyberpunk (science fiction) world with aircraft combat.
          Drop into the pilot seat and join the struggle or read the story in the comics.
        .ui.secondary.menu
          a.item(href='https://kamigen.com/')
            i.desktop.icon
            | Visit Website
          a.item(href='https://www.facebook.com/kamigengame/')
            i.facebook.icon
            | Facebook page
          a.item(href='https://github.com/paulbrzeski/kamigen')
            i.github.icon
            | Github repository
      .column.seven.wide
        img.ui.image.fluid(src='/assets/project-screenshots/kamigen.png')
    .row#kettlefish
      .column.three.wide
        img.ui.image.fluid.logo(src='/assets/project-logos/kettlefish.png')
      .column.six.wide
        h3 Kettlefish
        p Templates and tools for efficiently building websites and software with components tested through Kamigen and Manifold
        p.
          An opinionated boilerplate to create static websites.
          Out of the box Kettlefish comes with a default homepage
          built using a Semantic UI layout example, allowing anyone
          who knows what these tools are to hit the ground running.
        .ui.secondary.menu
          a.item(href='https://www.npmjs.com/package/kettlefish')
            i.npm.icon
            | NPM
          a.item(href='https://github.com/paulbrzeski/kettlefish')
            i.github.icon
            | Github repository
      .column.seven.wide
        img.ui.image.fluid(src='/assets/project-screenshots/kettlefish.png')
    .row#manifold
      .column.three.wide
        img.ui.image.fluid.logo(src='/assets/project-logos/manifold.png')
      .column.six.wide
        h3 Manifold
        p Our flagship software application, aimed to advance understanding and capabilities with digital media production and publishing
        p.
          A hybrid 2D/3D design tool, this is an experimental program
          to address the need for fast and efficient modelling for
          Three.JS scenes. The 2D vector component can also be used 
          for general illustration and design needs.
        .ui.secondary.menu
          a.item(href='http://manifold.paulbrzeski.com/')
            i.desktop.icon
            | Demo
          a.item(href='https://github.com/paulbrzeski/manifold')
            i.github.icon
            | Github repository
      .column.seven.wide
        img.ui.image.fluid(src='/assets/project-screenshots/manifold.png')
